/.idea/
/.xcodemap/
/AetherFantasy Auth Paper/.gradle/
/AetherFantasy Auth Paper/gradlew
/AetherFantasy Auth Paper/gradlew.bat
/AetherFantasy Auth Paper/build/
/AetherFantasy Auth Paper/run/
/AetherFantasy Auth Velocity/.gradle/
/AetherFantasy Auth Velocity/build/
/*.iml